<md-card-title>System Users</md-card-title>
<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="users">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Username Column -->
    <ng-container cdkColumnDef="username">
      <md-header-cell *cdkHeaderCellDef> Username </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.username}} </md-cell>
    </ng-container>

    <!-- Active Column -->
    <ng-container cdkColumnDef="active">
      <md-header-cell *cdkHeaderCellDef> Active </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.active}} </md-cell>
    </ng-container>

    <!-- Admin Column -->
    <ng-container cdkColumnDef="admin">
      <md-header-cell *cdkHeaderCellDef> Admin </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.admin}} </md-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container cdkColumnDef="create">
      <md-header-cell *cdkHeaderCellDef>Created</md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.created | date: 'm/d/Y' }} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
</div>